.title {
    font-size: 18px;
    font-weight: 700;
    color: #37517e;
}

hr {
    color: #37517e;
}

.form-control,
.form-select {
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px !important;
    font-size: 20px;
}

.form-label {
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.fo-button button:hover {
    background-color: aliceblue;
    border: 2px solid #37517e;
    color: #37517e;
    font-weight: 700;
}

.fo-button .btn-primary {
    background-color: #37517e;
    border: 2px solid #37517e;
}


#SerialNumber,
#SerialNumber_Start,
#SerialNumber_End,
#Modal {
    text-transform: uppercase;
}

.text-break p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #6c757d;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    #team .section-title {
        width: 100%;
        padding: 40px;
        margin: 0;
    }

    #claim .section-title {
        width: 100%;
        padding: 40px;
        margin: 0;
    }

    #check .section-title {
        width: 100%;
        padding: 40px;
        margin: 0;
    }

    .form-control {
        padding: .300rem .5rem;
    }

    .top-30 {
        font-size: 30px;
        top: -10%;
        color: #837b7b;
    }

    .top-82 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }

    .start-100 {
        left: 60% !important;
    }

    @media screen and (max-width: 442px) {
        #team .section-title {
            width: 100%;
            padding: 20px;
            margin: 0;
        }

        #claim .section-title {
            width: 100%;
            padding: 20px;
            margin: 0;
        }

        #check .section-title {
            width: 100%;
            padding: 20px;
            margin: 0;
        }

        .top-30 {
            font-size: 30px;
            top: -10%;
            color: #837b7b;
        }

        .start-100 {
            left: 70% !important;
        }

        .top-82 {
            font-size: 30px;
            top: -10%;
            color: #837b7b;
        }
    }

}


@media screen and (min-width: 600px) {
    #team .section-title {
        width: 100%;
        padding: 40px;
    }

    #check .section-title {
        width: 80%;
        padding: 40px;
        margin: 0;
    }

    #claim .section-title {
        width: 80%;
        padding: 40px;
        margin: 0;
    }

    .top-30 {
        font-size: 30px;
        top: -10%;
        color: #837b7b;
    }

    .top-82 {
        font-size: 30px;
        top: -10%;
        color: #837b7b;
    }

    .start-100 {
        left: 45% !important;
    }
}


@media screen and (min-width: 992px) {
    #team .section-title {
        width: 75%;
        padding: 40px;
    }

    #check .section-title {
        width: 60%;
        padding: 40px;
        margin: 0;
    }

    #claim .section-title {
        width: 65%;
        padding: 40px;
        margin: 0;
    }

    .top-30 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }

    .top-82 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }

    .start-100 {
        left: 100% !important;
    }
    
}


@media screen and (min-width: 1200px) {

    #check .section-title {
        width: 50%;
        padding: 40px;
        margin: 0;
    }

    .start-100 {
        left: 100% !important;
    }

    .top-30 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }

    .top-82 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }
    
}

@media screen and (min-width: 1400px) {
    #team .section-title {
        width: 70%;
        padding: 40px;
    }

    #check .section-title {
        width: 45%;
        padding: 40px;
        margin: 0;
    }

    #claim .section-title {
        width: 50%;
        padding: 40px;
        margin: 0;
    }

    .top-30 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }

    .top-82 {
        font-size: 30px;
        top: 30px;
        color: #837b7b;
    }

    .start-100 {
        left: 100% !important;
    }
    
}

.tt-suggestion {
    color: #224abe;
}

.tt-menu {
    position: unset !important;
}

.tt-suggestion {
    color: #224abe;
}